<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete Employee</h1>
<p><a href="/employees">Employee List</a></p>
<h3>Are you sure?</h3>
<!--<th:block th:if="${message}">-->
<!--<p th:text="${message}"></p>-->
<!--</th:block>-->
<form th:action="@{/delete-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Nhóm nhân viên</td>
            <td><input type="text" th:field="*{groupEmployee}"
                       disabled="disabled"/></td>
        </tr>
        <tr>
            <td>Họ tên</td>
            <td><input type="text" th:field="*{name}" disabled="disabled"></td>
        </tr>
        <tr>
            <td>Ngày sinh</td>
            <td><input type="text" th:field="*{dayOfBirth}" disabled="disabled"/></td>
        </tr>
        <tr>
            <td>Giới tính</td>
            <td><input type="text" th:field="*{gender}" disabled="disabled"></td>
        </tr>
        <tr>
            <td>Số điện thoại</td>
            <td><input type="text" th:field="*{phoneNumber}" disabled="disabled"></td>
        </tr>
        <tr>
            <td>Số CMND</td>
            <td><input type="text" th:field="*{idCard}" disabled="disabled"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}" disabled="disabled"></td>
        </tr>
        <tr>
            <td>Địa chỉ</td>
            <td><input type="text" th:field="*{address}" disabled="disabled"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>